<% if user_signed_in? %>
  <h1>Bienvenido/a.</h1>
  <%= link_to "Salir", destroy_user_session_path, data: {turbo_method: :delete} %>
<% else  %>
  <%= link_to "Ingresar", new_user_session_path %>
<% end %>
